@page
@model fullstack.Pages.client.createModel
@{
}


<br >
<h2>new client</h2> 

@if (Model.errorMessage.Length > 0)
{
	<div class='alert alert-warning alert-dismissible fade show' role='alert'>
		<strong>@Model.errorMessage</strong>
		<button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
	</div>
}
<form method="POST">
	<div class=" row-end mb-3">
		<label class="col-sm-3 col-form-lable">name</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="name" value="@Model.clientInfo.name" />
		</div>
	</div>
	<div class=" row-end mb-3">
	<label class="col-sm-3 col-form-lable">email</label>
	<div class="col-sm-6">
			<input type="text" class="form-control" name="email" value="Model.clientInfo.email" />
	</div>
	</div>
	<div class=" row-end mb-3">
	<label class="col-sm-3 col-form-lable">phone</label>
	<div class="col-sm-6">
			<input type="text" class="form-control" name="phone" value="Model.clientInfo.phone"
	</div>
	</div>
	<div class=" row-end mb-3">
	<label class="col-sm-3 col-form-lable">address</label>
	<div class="col-sm-6">
			<input type="text" class="form-control" name="address" value="Model.clientInfo.address" />
	</div>
	</div>
	
	@if (Model.successMessage.Length > 0)
	{
		<div class="row mb-3">
			<div class='alert alert-success alert-dismissible fade show' role='alert'>
				<strong>@Model.successMessage</strong>
				<button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
			</div>
		</div>
	}

	<div class=" row-end mb-3">
		<div class=" offset-sem-3 col-sm-3 d-grid">
			<button type="submit" class=" btn btn-primary"> submit</button>
		</div>
		<div class="col-sm-3 d-grid">\
			<a class="btn btn-outline-primary" href="/" role="button">cancel</a>
		</div>
	</div>
</form>